*{
	margin: 0 auto;
	padding: 0;
}

header{
	width: 100%;
	height: 190px;
	background-color: white;
}
.fixtitle{
	width: 100%;
	height: 190px;
	position: fixed;
	background-color: white;
	z-index: 2;
}
.title{
	max-width: 1280px;
	width: 100%;
	text-align: center;
}
.adorable{
	font-size: 50pt;
	font-family: 'Playfair Display', serif;
	color: #4B4B4B;
	display: inline-block;
	text-align: center;
}
.adorable > a {
	color: #4B4B4B;
}
.menu ul li {display: inline;}
.menu {
	width: 1280px;
	height: 50px;
	margin: 0 auto;
	line-height: 50px;
	text-align: right;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 12pt;
	color: #8C8C8C;
	word-spacing: 0.2em;
}
.menu ul li > a {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 12pt;
	color: #8C8C8C;
}
.menu ul li > a:hover{
	color: #4B4B4B;
	letter-spacing: 1px;
	transition: 1s;
}
.list{
	width: 1280px;
	border-top: 1px solid black;
	border-bottom: 1px solid #CFCFCF;
	height: 50px;
	line-height: 50px;
}
a{
	text-decoration: none;
}
.mainlist, .sublist {
	margin: 0;
	padding: 0;
	list-style: none;
}
.mainlist > li {
	float: left;
	margin: 0 auto;
	position: relative;
}
.mainlist > li > a {
	display: block;
	text-align: center;
	padding: 0px 15px;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 14pt;
	color: #4B4B4B;
}
.mlfirst{
	margin-left: 10px;
}
.sublist{
	border: 1px solid #EBDEFE;
	line-height: 20px;
	opacity: 0.9;
}
.sublist > li {
	padding: 5px 0px;
	text-align: center;
	background-color: white;
	opacity: 0.9;
}
.sublist > li > a {
	font-size: 11pt;
	font-family: "맑은고딕";
	font-weight: bold;
	color: #4B4B4B;
}
.triangle{
	width: 0;
	height: 0;
	border-bottom: 10px solid #EBDEFE;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	opacity: 0.9;
}
.ml6:hover{
	color: #FEB4B3;
}
.ml7:hover{
	color: #FEEBB3;
}
.ml8:hover{
	color: #FEB4B3;
}
.ml9:hover{
	color: #9FEB91;
}
.ml10:hover{
	color: #9FD6FF;
}
.mainbanner{
	width: 100%;
	height: auto;
	margin-bottom: 100px;
}
.sec{
	max-width: 1280px;
	width: 1280px;
}
.circlebanner{
	max-width: 1280px;
	width: 1100px;
	height: 300px;
	margin-bottom: 50px;

}
.cbleft{
	width: 50%;
	height: auto;
	float: left;
}
.cbright{
	width: 50%;
	height: auto;
	float: right;
}
.cb1{
	width: 250px;
	height: auto;
	float: left;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	background-color: #FEB4B3;
	border-radius: 50%;
}
.cb2{
	width: 250px;
	height: auto;
	float: right;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	background-color: #FEEBB3;
	border-radius: 50%;
	margin-right: 15px;
}
.cb3{
	width: 250px;
	height: auto;
	float: left;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	background-color: #9FEB91;
	border-radius: 50%;
	margin-left: 15px;
}
.cb4{
	width: 250px;
	height: auto;
	float: right;
	text-align: center;
	overflow: hidden;
	z-index: 1;
	background-color: #9FD6FF;
	border-radius: 50%;
}
.cbimg{
	display: block;
}
.cbimg:hover{
	transform: scale(1.2);
	transition: 2s;
}
.lookbookbanner{
	margin: 100px 0;
}
.hotelbanner{
	max-width: 1280px;
	width: 1280px;
	margin-bottom: 50px;
	padding-top: 50px;
	border-top: 1px solid #CFCFCF;
	position: relative;
}
h2{
	font-family: 'Hammersmith One', sans-serif;
}
.hb{
	width: 1280px;
	height: auto;
	overflow: hidden;
}
.hbimg{
	transform: scale(1.0);
}
.hbimg:hover {
	transform: scale(1.2);
	transition: 2s;
	opacity: 0.7;
}
.hbimg:hover .hbmessage {
	transition: 2s;
	opacity: 1;
}
.hbmessage {
	width: 1280px;
	height: 400px;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	font-size: 60pt;
	font-weight: bold;
	line-height: 400px;
	opacity: 0;
}
.hbmessage > a {
	color: #4B4B4B;
}
.newsbanner{
	max-width: 1280px;
	width: 1280px;
	height: 200px;
	padding-top: 100px;
	margin-bottom: 150px;
}
.nb1{
	width: 33%;
	float: left;
}
.nb2{
	width: 33%;
	float: right;
}
.nb1_1{
	width: 99%;
	height: 180px;
	background-color: #F6F6F6;
}
.nb1_2{
	color: black;
}
.nbtitle{
	font-family: 'Hammersmith One', sans-serif;
	font-size: 16pt;
}
.nb1_2:hover{
	font-weight: bold;
}
.nbleft{
	float: left;
	text-align: left;
	padding: 15px 10px;
	line-height: 25px;
	font-family: "맑은고딕";
	font-size: 12pt;
}
.nbright{
	float: right;
	text-align: right;
	padding: 15px 10px;
	line-height: 25px;
	font-family: "맑은고딕";
	font-size: 12pt;
}
.nb2_1{
	width: 99%;
	height: auto;
}
.nb2_1:hover{
	opacity: 0.7;
}
.productbanner1{
	width: 1280px;
	text-align: center;
	padding-top: 100px;
	border-top: 5px solid black;
}
.productbanner1 ul li {display: inline-block;}
.bp{
	width: 1280px;
	padding: 20px;
	font-family: 'Staatliches', cursive;
	font-size: 30pt;
	text-align: center;
}
.productbanner2{
	width: 1280px;
	padding-top: 100px;
	margin-bottom: 200px;
}
.productbanner2 ul li {display: inline-block;}
.pb1{
	width: 300px;
	height: 300px;
	margin: 8px;
	position: relative;
}
.pbimg2{
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.pb1:hover .pbimg2 {
	display: block;
}
.pb2{
	width: 300px;
	height: 40px;
	border-bottom: 1px solid #CFCFCF;
	font-family: "맑은고딕";
	font-size: 10pt;
	text-align: left;
	line-height: 40px;
}
.pb2 > a {
	color: black;
}
.pb3{
	width: 300px;
	height: 40px;
	font-family: "맑은고딕";
	font-size: 10pt;
	padding-top: 10px;
	text-align: left;
}


footer{
	width: 100%;
	height: 200px;
	border-top: 1px solid #CFCFCF;
	padding-top: 50px;
	padding-bottom: 50px;
}
.foottitle{
	max-width: 1280px;
	width: 1280px;
	height: 100%;
}
.ftleft{
	width: 49%;
	height: 100%;
	float: left;
}
.ftright{
	width: 49%;
	height: 100%;
	float: right;
}
.ft1{
	width: 48.5%;
	height: 100%;
	float: left;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 12pt;
	color: #4B4B4B;
}
.ft2{
	width: 48.5%;
	height: 100%;
	float: right;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 12pt;
	color: #4B4B4B;
}
.ft1_1{
	width: 100%;
	height: 90%;
	padding-top: 20px;
	font-size: 10pt;
	color: #8C8C8C;
	line-height: 25px;
}
@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

body { margin: 0; } 
div.mainbanner { overflow: hidden; }
div.mainbanner figure img { width: 20%; float: left; }
div.mainbanner figure { 
	position: relative;
 	width: 500%;
 	margin: 0;
 	left: 0;
 	text-align: left;
 	font-size: 0;
 	animation: 20s slidy infinite;
 }




