@charset "UTF-8";
*{
	margin: 0 auto;
	padding: 0;
}
.bodywidth{
	width: 1280px;
	margin-top: 100px;
	margin-bottom: 100px;
}
aside{
	width: 260px;
	margin: 0 30px 0 0;
	position: absolute;
}
.mypagemenu ul li {
	text-decoration: none;
	list-style: none;
	color: #4B4B4B;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 13pt;
}
.mypagesubmenu{
	width: 210px;
	height: 50px;
	border: 1px solid #CFCFCF;
	margin: 0 30px 20px 0;
}
.mypagesubmenu:hover{
	transition: 1s;
	background-color: #C6B8F3;
	letter-spacing: 2px;
}
.mypagemenu ul li:hover{
	color: white;
}
.mypagemenu li .mmimg {
	display: inline-block;
	margin: 10px;
}
.mypagemenu li .menutext {
	display: inline-block;
	float: right;
	margin: 15px 20px 15px 0;
}
section{
	width: 1280px;
}
.boardshape{
	width: 1020px;
	height: auto;
	margin-left: 260px;
	border: 1px solid #EFEFEF;
}
.detailshape{
	padding: 20px;
}
.boardtitle{
	color: #4B4B4B;
	font-family: 'Hammersmith One', sans-serif;
}
h2 > a {
	color: #4B4B4B;
}
.boardlist{
	margin-top: 30px;
	border-top: 1px solid #4B4B4B;
}
.boardtable{
	border-spacing: 0;
}
th{
	border-bottom: 1px solid #CFCFCF;
}
td{
	border-bottom: 1px solid #F5F5F5;
}
.th_board{
	width: 70px;
	height: 35px;
	padding: 3px;
	text-align: center;
	color: #6F6F6F;
}
.th_title{
	width: 650px;
	height: 35px;
	padding: 3px;
}
.th_writer{
	width: 70px;
	height: 35px;
	padding: 3px;
	text-align: center;
}
.th_date{
	width: 90px;
	height: 35px;
	padding: 3px;
	text-align: center;
}
.th_look{
	width: 100px;
	height: 35px;
	padding: 3px;
	text-align: center;
}
.th_title > a{
	color: black;
}
.boardbottom{
	margin: 30px 0;
	position: relative;
}
.boardpage{
	text-align: center;
}
.boardpage ul li {
	display: inline;
}
.boardpage ul li > a {
	color: #4B4B4B;
	font-size: 14pt;
	font-weight: bold;
	letter-spacing: 8px;
	text-decoration: none;
}
.boardwrite{
	position: absolute;
	top: -5px;
}
.write, .lookmywriting{
	width: 100px;
	height: 35px;
	border: 1px solid #CFCFCF;
	background-color: white;
}
.boardmywriting{
	position: absolute;
	top: -5px;
	right: 0;
}
.write{
	background-color: #C6B8F3;
}
.write:hover{
	opacity: 0.6;
}
.lookmywriting:hover{
	opacity: 0.6;
}
.boardsearch{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}
.searchbox{
	border: 1px solid #CFCFCF;
	width: 180px;
	height: 30px;
}
.searchbtn{
	position: relative;
	top: 10px;
	width: 30px;
	height: 30px;
}
.searchbtn:hover{
	opacity: 0.6;
}

.pwtitle {
	font-size: 24pt;
	font-weight: bold;
	text-align: center;
	margin: 20px 0;
}
.txtzone{
	text-align: center;
}
.btnzone{
	margin-top: 10px;
}
.pwtext {
	width: 200px;
	height: 30px;
	text-align: center;
	border: 1px solid #CFCFCF;
}
.backbtn, .pwbtn{
	width: 100px;
	height: 35px;
	border: 1px solid #CFCFCF;
	background: white;
}
.backbtn:hover{
	opacity: 0.6;
}
.pwbtn{
	background: #C6B8F3;
}
.pwbtn:hover{
	opacity: 0.6;
}