*{
	margin: 0 auto;
	padding: 0;
}
.bodywidth{
	width: 1280px;
	margin-top: 100px;
	margin-bottom: 100px;
}
aside{
	width: 260px;
	margin: 0 30px 0 0;
	position: absolute;
}
.mypagemenu ul li {
	text-decoration: none;
	list-style: none;
	color: #4B4B4B;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 13pt;
}
.mypagesubmenu{
	width: 210px;
	height: 50px;
	border: 1px solid #CFCFCF;
	margin: 0 30px 20px 0;
}
.mypagesubmenu:hover{
	transition: 1s;
	background-color: #C6B8F3;
	letter-spacing: 2px;
}
.mypagemenu ul li:hover{
	color: white;
}
.mypagemenu li .mmimg {
	display: inline-block;
	margin: 10px;
}
.mypagemenu li .menutext {
	display: inline-block;
	float: right;
	margin: 15px 20px 15px 0;
}
section{
	width: 1280px;
}
.boardshape{
	width: 1020px;
	margin-left: 260px;
	border: 1px solid #EFEFEF;
}
.detailshape{
	padding: 20px;
}
.boardtitle{
	color: #4B4B4B;
	font-family: 'Hammersmith One', sans-serif;
}
h2 > a {
	color: #4B4B4B;
}
.boardlist{
	position: relative;
	margin-top: 30px;
}
.contenttitle{
	width: 950px;
	height: 30px;
	padding: 5px;
	border: none;
	font-size: 14pt;
	font-weight: bold;
	margin-bottom: 5px;
}
hr{
	border: 1px solid #CFCFCF;
}
.content{
	width: 950px;
	height: 400px;
	margin: 30px 0;
	padding: 10px;
	border: 1px solid #CFCFCF;
	font-size: 14pt;
	text-align: left;
	resize: none;
}
.contentpw {
	width: 200px;
	height: 30px;
	padding: 5px;
	border: 1px solid #CFCFCF;
	margin-bottom: 30px;
}
.cancelbtn, .writebtn{
	position: absolute;
	width: 100px;
	height: 35px;
	border: 1px solid #CFCFCF;
	background-color: white;
}
.writebtn{
	background-color: #C6B8F3;
	right: 0;
}
.cancelbtn:hover{
	opacity: 0.6;
}
.writebtn:hover{
	opacity: 0.6;
}
.joinimage{
	text-align: center;
	padding-top: 50px;
}
.filezone{
	margin-bottom: 30px;
}
.filebox{
	border: 1px solid #CFCFCF;
	background: white;
	width: 100px;
	padding: 10px;
	font-size: 11pt;
}
.filebox:hover{
	opacity: 0.6;
}
input[type=file]{
	display: none;
}